
# Real applications authenticate with Evernote using OAuth, but for the
# purpose of exploring the API, you can get a developer token that allows
# you to access your own Evernote account. To get a developer token, visit
# https://sandbox.evernote.com/api/DeveloperToken.action


authToken = "your developer token"


if authToken == "your developer token"
    puts "Please fill in your developer token"
    puts "To get a developer token, visit https://sandbox.evernote.com/api/DeveloperToken.action"
    exit(1)
  end
  